body {
    background-image:url(./assets/chickennugget.png);

}

.image {
    border-style: solid;
    border-color: black;
    border-width: thick;
    border-radius: 100%;
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    animation: skibidiImage 2s linear infinite alternate;
}

@keyframes skibidiImage {
    0% {
        border-color: rgb(255, 0, 0);
        rotate: 0deg;
    }
    50% {
        border-color: rgb(0, 255, 0);
        rotate: 180deg;
    }
    100% {
        border-color: rgb(0, 0, 255);
        rotate: 360deg;
    }

}

.text {
    text-align: center;
    color: black;

    border-color: red;
    border-width: thick;
    border-style: solid;
 
    font-size: 50px;
    animation: skibiditext 0.01s linear infinite alternate;
}

@keyframes skibiditext {
    0% {
        color:black;
        border-color: white;
    }
    100% {
        color: white;
        border-color: black;
    }
}